* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
    background: #efefef;
}

/* common */
a {
    text-decoration: none;
}

button {
    font-family: "Poppins", sans-serif;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn {
    min-width: 173px;
    height: 57px;
    padding: 8px 12px;
    border: 1.5px solid #143c3c;
    border-radius: 40px;
    background: #143c3c;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-sub-title {
    position: relative;
    padding-left: 46px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #152427;
}

.section-sub-title::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: 8px;
    left: 0;
    width: 25px;
    height: 1px;
    background: #152427;
}

.section-heading {
    position: relative;
    display: inline;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.section-heading::after {
    position: absolute;
    bottom: 19px;
    right: -80px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}

/* header */
.heading {
    font-family: "Public Sans", sans-serif;
    padding-top: 18px;
    position: sticky;
    top: -18px;
    z-index: 2;
    background-color: #efefef;
}
.container {
    width: 1140px;
    min-width: calc(1140px - 48px);
    margin-right: auto;
    margin-left: auto;
}

.heading-top {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0dfdf;
}

.navbar {
    display: flex;
    column-gap: 88px;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    padding: 0 16px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.navbar__item:hover {
    color: #152427;
}

.active {
    position: relative;
}

.active::after {
    bottom: -25px;
    left: 16px;
    position: absolute;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: #143c3c;
}

/* hero */
.hero {
    font-family: "Public Sans", sans-serif;
    padding: 60px 0 130px;
    position: relative;
}

.hero__inner {
    display: flex;
    gap: 76px;
}

.hero__heading {
    width: 368px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}

.hero__desc {
    width: 341px;
    margin: 20px 0 42px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero__cta {
    display: flex;
    column-gap: 43px;
    align-items: center;
}

.hero__play {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-family: "Poppins", sans-serif;
}

.hero__play:hover .hero__play--icon::before {
    rotate: 180deg;
}

.hero__play--icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: #83a17d;
    border-radius: 50%;
}

.hero__play--icon::before {
    flex-shrink: 0;
    position: absolute;
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid #143c3c;
    border-radius: 50%;
    /* Halve the circle */
    border-bottom-color: transparent;
    border-right-color: transparent;
    /* Rotate the circle */
    transform: rotate(-45deg);
    transition: 1s;
}

.hero__play--text {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #152427;
}

.hero__media {
    width: 57%;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.hero__media::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    margin: 0 auto;
    content: "";
    display: block;
    background-color: #72b964;
    filter: blur(150px);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -1;
}

.hero__img {
    position: relative;
    z-index: 1;
    filter: opacity(0.7);
    border-radius: 110px;
    width: 100%;
    height: 466px;
    object-fit: cover;
    transition: 1s;
}

.hero__img:hover {
    cursor: pointer;
    margin-top: 77px;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.hero__img:nth-child(2):hover {
    transform: translateY(-77px);
}

/* -----------------------------flower---------------------------------------- */
.decoration {
    width: 100%;
}

.hero__decoration {
    position: absolute;
    top: -50px;
    left: -190px;
    justify-content: space-between;
    align-items: center;
}

.decoration__flower {
    position: relative;
}

.decoration__flower:last-child {
    rotate: 180deg;
    top: 450px;
    left: 150px;
}

.flower {
    position: relative;
    z-index: 1;
    transition: 2s;
}

.branch {
    position: absolute;
    top: -10px;
    left: 40px;
}

.flower:hover {
    rotate: 360deg;
}

/* social */
.social__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 76px 121px;
    background: #e2eddf;
    border-radius: 100.5px;
}

.social__icon {
    display: inline-flex;
    align-items: center;
    transition: 1s;
}

.social__icon:hover {
    transform: scale(1.2);
}

.social__icon span {
    color: #143c3c;
}

.google {
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 1.5;
}

.slack {
    padding-left: 5px;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.5;
}

.agwarld {
    padding-left: 11px;
    font-size: 2.6rem;
    line-height: 1.5;
}

.heroku {
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 1.5;
    letter-spacing: 0.105em;
}

/* services */
.services {
    padding: 106px 0 80px;
}

.services__heading {
    margin-top: 12px;
    width: 50%;
}

.services__row {
    display: flex;
    justify-content: space-between;
}

.control-btn-group {
    margin-top: 44px;
    margin-right: 73px;
    display: flex;
    column-gap: 17px;
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    outline: none;
    border: none;
    border-radius: 50%;
    background: #e2eddf;
    color: #152427;
}

.control-btn:last-child {
    rotate: 180deg;
}

.control-btn:hover {
    background: #143c3c;
    color: #fff;
}

.services__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.services-item {
    border-radius: 20px;
    overflow: hidden;
    transition: ease 0.5s;
}

.services-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transform: translateY(-8px);
}

.services-item:hover .services__info {
    background-color: #fff;
    padding: 24px 18px;
}

.services__img {
    display: block;
    width: 100%;
    height: 318px;
}

.services__info {
    padding: 24px 0;
    transition: ease 0.5s;
}

.services-item__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
    color: #152427;
}

.services-item__desc {
    width: 268px;
    margin-top: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #7d8188;
}

/* extension */
.about {
    padding: 76px 0 40px;
}

.about__inner {
    display: flex;
    column-gap: 54px;
}

.about__media {
    position: relative;
    display: flex;
    width: 52%;
}

.about__decoration {
    display: inline-block;
    position: absolute;
    left: 190px;
    bottom: 30px;
    rotate: 180deg;
}

.about__media::before {
    position: absolute;
    content: "";
    display: block;
    top: 100px;
    left: 130px;
    background-color: #72b964;
    filter: blur(150px);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -1;
}

.about__img-group {
    display: flex;
    column-gap: 21px;
}

.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
}

.about__img:first-child {
    margin-top: 77px;
}

.about__summary {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 144px;
    padding: 19px 23px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
}

.about__summary--title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #152427;
    white-space: nowrap;
}

.about__summary--sub-title {
    margin-top: 6px;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.about__summary--percent {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.about__summary--crossbar {
    position: relative;
    margin-top: 3px;
    width: 96px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}
.about__summary--crossbar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}

.about__summary--desc {
    margin-top: 3px;
    text-align: right;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.about__summary--dot {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 3px;
    margin-left: -4px;
    width: 11px;
    height: 11px;
    background: #eaeaea;
    border-radius: 50%;
}

.about__summary--dot::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #143c3c;
    border-radius: 50%;
}

.about__summary--row {
    margin: 8px -6px 0;
    display: flex;
    justify-content: space-between;
}

.about__summary--row span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.about__summary-avatar {
    display: flex;
}

.about__summary-avatar--img {
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    object-fit: cover;
}

.about__summary-avatar--img + .about__summary-avatar--img {
    margin-left: -6px;
}

.about__content {
    width: 43%;
}

.about__heading {
    margin-top: 20px;
}

.about__heading::after {
    display: none;
}

.about__desc {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.about-stats {
    margin-top: 1W6px;
}

.about-stats__row {
    padding: 20px 0;
    display: flex;
    column-gap: 24px;
    align-items: center;
    border-bottom: 1px solid #83a17d;
}

.about-stats__row:last-child {
    padding-top: 38px;
}

.about-stats__row--percent {
    font-weight: 600;
    font-size: 4.2rem;
    color: #152427;
}

.about-stats__row--info {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* process */
.process {
    padding: 40px 0 148px;
}

.process__sub-title {
    margin-top: 36px;
}
.process__heading {
    display: block;
    margin: 20px 0 80px;
    width: 477px;
}

.process-item {
    width: 100%;
    max-height: 160px;
    padding: 60px 40px 25px 30px;
    border-bottom: 3px solid #83a17d;
    display: flex;
    align-items: center;
    transition: ease 0.5s;
}

.process-item:hover {
    transform: scale(1.05);
    background: #e2eddf;
    border-radius: 33px;
    border: none;
}

.process-item:hover .process-item__tittle--link {
    display: inline-block;
}

.process-item__number {
    font-weight: 600;
    font-size: 7.2rem;
    color: #143c3c;
}

.process-item__title {
    margin-left: 50px;
}

.process-item__title--label {
    font-weight: 600;
    font-size: 2.2rem;
    color: #152427;
}

.process-item__tittle--link {
    display: none;
    margin-top: 22px;
    font-size: 1.8rem;
    color: #575d5e;
    text-decoration: underline;
}

.process-item__img {
    width: 444px;
    height: 450px;
    object-fit: cover;
}

.process-item__desc {
    width: 572px;
    margin-left: auto;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #7d8188;
}

.process-item__image {
    margin-left: 280px;
    transform: translateY(-32%);
}

/* media */
.media {
    padding: 116px 0 63px;
    background: #143c3c;
}

.media-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media__heading {
    width: 457px;
}

.media .section-heading {
    color: #e7f9f9;
}

.media .section-heading::after {
    background-color: #83a17d;
}

.media__info {
    width: 590px;
}

.media-desc {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #6a8383;
}

.media-cta {
    margin-top: 13px;
    display: flex;
    align-items: center;
    column-gap: 26px;
}

.media-link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.media__video {
    margin-top: 65px;
    border-radius: 22px;
}

.media__inner {
    position: relative;
}

.media__decoration {
    position: absolute;
    right: -60%;
    top: 110%;
    rotate: -150deg;
}

/* feature */
.feature {
    padding: 140px 0 92px;
}

.feature__heading {
    width: 520px;
    margin: 0 auto;
}

.feature .section-heading::after {
    display: none;
}

.feature__desc {
    width: 547px;
    margin: 20px auto 0;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    text-align: center;
    color: #7d8188;
}

.feature__list {
    margin-top: 44px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.feature-item {
    margin-top: 60px;
    width: 350px;
    height: 362px;
    padding: 65px 43px;
    border-radius: 50%;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    text-align: center;
    transition: ease 0.5s;
}

.feature-item:nth-child(2) {
    margin-top: 0;
}

.feature-item:hover {
    border: none;
    background: #ffffff;
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
}

.feature-item__label {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2rem;
    color: #152427;
}

.feature-item__desc {
    width: 264px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* blog */
.blog {
    padding: 92px 0 102px;
}

.blog-top__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__heading {
    margin-top: 10px;
    width: 520px;
}

.blog__desc {
    width: 409px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.blog-list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.blog-item {
    width: 100%;
    border-radius: 40px 40px 20px 20px;
    overflow: hidden;
    transition: ease 0.5s;
}

.blog-item:hover {
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__info {
    padding: 26px 30px 12px;
    background: #ffffff;
}

.blog-item:hover .blog__btn {
    background: #143c3c;
    color: #e2eddf;
}

.blog__img {
    width: 100%;
    height: 317px;
    object-fit: cover;
}

.blog-item__info {
    padding: 26px 0 12px;
    transition: ease 0.5s;
}

.blog__btn {
    width: 107px;
    height: 26px;
    border: none;
    outline: none;
    background: #e2eddf;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    text-align: center;
    color: #000000;
    transition: ease 0.5s;
}

.blog__btn:hover {
    cursor: pointer;
}

.blog-item__desc {
    min-height: 90px;
    padding-bottom: 9px;
    margin-top: 20px;
    border-bottom: 1px solid #c4c4c4;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #143c3c;
}

.blog-item__date {
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #575d5e;
}

/* footer */
.footer {
    padding: 72px 0 50px;
    background: #295a5a;
}

.footer__inner {
    padding-bottom: 45px;
    border-bottom: 1px solid #6a8383;
    display: flex;
    justify-content: space-between;
}

.footer-form label {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #ffffff;
}

.footer-form input {
    width: 354px;
    padding: 25px 30px 36px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #6a8383;
    background: transparent;
    font-weight: 600;
    font-size: 2.2rem;
    color: #ffffff;
}

.footer-form input::placeholder {
    font-weight: 600;
    font-size: 2.2rem;
    color: #6a8383;
}

.footer__email {
    position: relative;
}

.footer__btn {
    position: absolute;
    left: 330px;
    bottom: 36px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.footer__email-error {
    visibility: hidden;
    margin-top: 10px;
    color: red;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.25;
}

.footer-social {
    margin-top: 20px;
    display: flex;
    column-gap: 22px;
}

.footer-social__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 1px solid #265252;
    border-radius: 50%;
    color: #fbfbfb;
    transition: ease 0.5s;
}

.footer-social__btn:hover {
    border: none;
    background: #a75325;
}

.footer__email:has(:invalid:not(:placeholder-shown)) + .footer__email-error {
    visibility: visible;
}

.footer-list {
    margin-top: 94px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.footer-item__title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.footer-item__group {
    margin-top: 6px;
}

.footer-item__label {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.25;
    color: #6a8383;
}
